SERVER_REGION_CN=auto
USE_PROXY=n
REPO_USE_PROXY=n
PROXY_URI=http://127.0.0.1:7890
NO_PROXY_LIST="localhost,.example.com,169.254.169.254,128.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24"
USER_NAME=www
USER_PASSWORD=abc123
CONDA_ENV_NAME=myenv
CONDA_ENV_PY_VER=3.7
TZ="etc/UTC"
TERM=xterm-256color
ZSH_THEME="powerlevel10k"
